body {
    margin: 60px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    list-style: none;
    line-height: 0.5em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    line-height: 0.5em;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(161, 42, 161);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    position: relative;
    font-family:'Courier New', Courier, monospace;
}
h2 {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 0.9em;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: 1.05em;
    line-height: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #d5d5d5;
    border-spacing: 10px auto;
    /* margin-block-end: auto; */
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    line-height: 0.5em;
}

ul.posts li {
    list-style: none;
    line-height: 0.5em;
}

.header img {
    float: right;
    width:15%;
    height:30%;
    display: inline;
    /* border:10px; */
}

.header h1 {
    font-size: 1.5em;
    /* vertical-align: text-top; */
    position: relative;
    display: inline;
    font-family:'Courier New', Courier, monospace;
}

/* img {
     */
/* } */